body {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 93px;
  width: 268px;
  margin-top: 42px;
  border-radius: 0px;
}

#recherche {
  display: flex;
  flex-direction: row;
  width: 85%;
}

#barreRecherche {
  width: 100%;
  border-radius: 5px;
  background-color: #e7e7e7;
  color: lightgray;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  padding: 15px;
  margin-top: 30px;
}

#barreRecherche:focus {
  color: black;
  font-weight: 700;
  border: none;
}

#loupeBtn {
  margin-left: -60px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  background-color: #e7e7e7;
}

.fa-search {
  font-size: 30px;
  left: 5.5px;
  top: 5.5px;
  border-radius: 0px;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.recette {
  display: block;
  width: 30%;
  margin: 19px;
}

.hiddenRecipe {
  display: none;
}

.recetteImg {
  height: 178px;
  width: 100%;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: #c7bebe;
}

.legendeRecette {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  flex-wrap: nowrap;
  background-color: #e7e7e7;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 20px;
  padding: 10px;
}

.listeIngredientsTemps {
  display: flex;
}

.recetteAndTime {
  width: 66%;
  display: flex;
  flex-direction: column;
}
#titreListe {
  width: 100%;
}

.titre {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

#ingredients,
#appareils,
#ustensiles {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  list-style: none;
  padding: 3px;
  padding-right: 12px;
}
.gras {
  font-weight: 900;
}

#listeIngredients {
  margin: 0px;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
  padding: 0px;
  z-index: inherit;
}

.description {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
}

.temps {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -3px;
}

.recetteDescription {
  display: flex;
  width: 85%;
  justify-content: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  padding-left: 12px;
}

.titre {
  margin-top: 0px;
}

.tempsRecette {
  width: 20%;
  margin-top: -55px;
  margin-left: 170px;
}

.fa-clock {
  margin-right: 8px;
}

.clock {
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
  margin-left: 75px;
}

#choixTriAppareils {
  background-color: #68d9a4;
}

#choixTriUstensiles {
  background-color: #ed6454;
}

#inputUstensiles,
#inputIngredients,
#inputAppareils {
  background-color: inherit;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

#inputUstensiles::placeholder,
#inputIngredients::placeholder,
#inputAppareils::placeholder {
  color: #fff;
}

#choixTriIngredients {
  background-color: #3282f7;
}

#ingredients,
#ustensiles,
#appareils {
  height: 69px;
  width: 300px;
}

#choixTriUstensiles,
#choixTriAppareils,
#choixTriIngredients {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  margin: 10px;
  color: #fff;
  border-radius: 5px;
}

#triBtnIngredients {
  background-color: #3282f7;
  border: none;
}

#triBtnAppareil {
  cursor: grab;
  background-color: #68d9a4;
  border: none;
}

#triBtnUstensiles {
  background-color: #ed6454;
  border: none;
}

#barreRecherche::placeholder {
  border: none;
  color: grey;
  background-color: inherit;
}

.hiddenchoice {
  display: none;
}

.filter {
  display: none;
}

#tri {
  display: flex;
  height: 10%;
  width: 85%;
  border-radius: 5px;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  padding: 15px;
  margin-top: 30px;
  padding-left: 0px;
}

#listeRecettes {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}

input::-webkit-calendar-picker-indicator {
  display: none;
  background-color: inherit;
  opacity: 0;
}

.triInput {
  list-style: none;
}

aside {
  z-index: 30;
  width: 700px;
}

.listIngredients {
  background-color: #3282f7;
}

.listAppareils {
  background-color: #68d9a4;
}

.listUstensiles {
  background-color: #ed6454;
}
#triAppareilsInput {
  display: flex;
  flex-wrap: wrap;
  z-index: 20;
  background-color: #68d9a4;
  color: #fff;
}

#triIngredientsInput {
  display: flex;
  flex-wrap: wrap;
  background-color: #3282f7;
  color: #fff;
  z-index: 20;
}
#triUstensilesInput {
  background-color: #ed6454;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  z-index: 20;
}

.liste {
  width: 30%;
  list-style: none;
}
